ul li {
    margin-bottom: 5px !important;
}

blockquote {
    padding: 10px !important;
    background-color: #fff9b3 !important;
    border-left: 4px solid #d69f1e !important;
}

code {
    background-color: transparent !important;
}

.red {
    color: red;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
}

.example {
    color: #3DACB9;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}