@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* === GLOBAL STYLES === */

body {
	overflow-x: hidden;
	font: 18px 'Open Sans', sans-serif;
}

.offset::before {
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}

h5 {
	margin-bottom: 20px;
	margin-top: 10px;
}

img {
	margin-bottom: 1rem;
}

ul li {
	margin-top: 5px;
}

.jumbotron {
	margin: 0;
	padding: 1.5rem 0 3.5rem;
	border-radius: 0;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

.heading-underline {
	width: 16rem;
	height: .2rem;
	background-color: #1EBBA3;
	margin: 0 auto 1rem;
}

.bold {
	font-weight: bold;
}

.red {
	color: red;
}

.btn {
	width: 100%;
	text-align: left;
}

.btn-link {
	text-decoration: none !important;
	outline: none !important;
	color: #000 !important;
}

.btn-link:hover {
	color: gray;
}

/* === NAVIGATION === */

.navbar {
	background-color: rgb(0, 0, 0, 0.6) !important;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
}

.navbar-brand h1 {
	height: 2rem;
	padding-top: .5rem;
	font-size: 1.5rem;
	font-weight: 700;
}

.navbar-nav li {
	padding-right: .7rem;
}

.navbar-dark .nav-link {
	color: #fff !important;
	padding-top: .8rem;
}

.navbar-dark .nav-link:hover {
	color: #1EBBA3 !important;
}

.highlighted {
	color: #1EBBA3 !important;
}

/* === LANDING AREA === */

.home-inner {
	background-image: url('../img/banner.jpg');
}

.profile {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 40%;
	z-index: 1;
	margin: auto;
	color: #fff;
}

.profile .name {
	font-size: 3.4rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem #000;
	text-transform: uppercase;
	margin-bottom: .6rem;
	cursor: pointer;
}

.profile .personal-info {
	font-size: 1.8rem;
	text-shadow: .1rem .1rem .5rem #000;
	padding-bottom: .8rem;
}

.profile .email {
	font-family: monospace;
}

/* === TEACHING SECTION === */

.courses {
	margin: auto;
}

.card {
	margin-bottom: 10px;
}

.card-header .btn {
	font-size: 18px;
}

.card-body {
	font-size: 16px;
}

/* === FOOTER === */

#footer::before {
	margin-top: 2.5rem;
}

footer {
	background-color: #40474E;
	color: #fff;
	padding-top: 1rem;
}

footer p {
	text-transform: uppercase;
}

/* === MEDIA QUERIES === */

@media (max-width: 653px) {
	.profile .name {
		font-size: 3rem;
	}

	.profile .personal-info {
		font-size: 1.4rem;
	}
}

@media (max-width: 522px) {
	.profile .name {
		font-size: 2.6rem;
	}

	.profile .personal-info {
		font-size: 1.2rem;
	}
}

@media (max-width: 464px) {
	.profile .name {
		font-size: 2.2rem;
	}

	.profile .personal-info {
		font-size: 1.1rem;
	}
}

@media (max-width: 368px) {
	.profile .name {
		font-size: 2rem;
	}

	.profile .personal-info {
		font-size: 1rem;
	}
}