/* === GLOBAL STYLES === */

html, body {
	width: 100%;
    height: 100%;
	margin: 0;
    padding: 0;
	overflow-x: hidden;
}

body {
	background-color: #000;
	min-height: 100vh;
}

.main-wrapper {
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
}

#content.active {
	width: 100%;
	margin: 0;
}

h3.heading {
	font-size: 1.9rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
	padding-top: 3rem;
}

.heading-underline {
	width: 6rem;
	height: .2rem;
	background-color: #1EBBA3;
	margin: 0 auto 1rem;
}

.text-primary {
	color: #1EBBA3 !important;
}

.text-gray {
	color: #aaa;
}

/* === HEADER === */

#page-header {
	position: fixed;
	width: 100%;
	height: 3rem;
	background-color: rgb(52, 58, 64);
	z-index: 99;
	display: none;
}

/* === SIDEBAR === */

#sidebar {
    width: 17rem;
	min-width: 17rem;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
	z-index: 100;
    background-color: rgb(30, 30, 40);
}

#sidebar > * {
    background-color: rgb(30, 30, 40);
}

#sidebar button.close {
	text-shadow: none;
	color: #fff;
	outline: none;
}

#close-sidebar {
	display: none;
}

#sidebar button.close:hover {
	color: #1ebba3;
}

#sidebar img {
    width: 160px;
	height: 160px;
	margin: auto;
	border: 5px solid rgb(52, 58, 64);
	cursor: pointer;
}

#sidebar h4 {
    color: #fff;
	margin-top: 1rem;
	cursor: pointer;
}

#sidebar nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

#sidebar nav a {
    margin-bottom: 5px;
}

#sidebar.active {
	margin-left: -17rem;
}

#sidebar-collapse {
	height: 100%;
}

.social {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding-bottom: 10px;
}

.social-icons {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.social-icons li {
	margin: 0 10px 4px;
	padding: 0;
	overflow: visible;
}

.social-icons li a {
	display: block;
	width: 28px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	color: #fff;
}

.social-icons li a:hover {
	color: #1ebba3;
}

/* === OVERLAY === */

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 5;
	display: none;
}

/* === HOME SECTION === */

.home-wrap {
    height: 100vh;
}

#particles-js {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
}

.typewriter {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
}

.typewriter h1 {
	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	margin: 0 auto;
	overflow: hidden;
	border-right: .15em solid white;
	white-space: nowrap;
	letter-spacing: .15em;
	animation: typing 3s steps(40, end), cursor-blink 1s step-end infinite;
}

@keyframes typing {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes cursor-blink {
	from, to { border-color: transparent; }
	50% { border-color: #fff; }
}

/* === ABOUT SECTION === */

.about-list ul ul {
	list-style-type: disc;
}

.about-list ul ul li {
	margin-top: 5px;
}

/* === TEACHING SECTION ===  */

#teaching .btn {
	width: 100%;
	text-align: left;
}

#teaching .btn-link {
	text-decoration: none;
	color: #000;
	box-shadow: none;
}

.card {
	margin-bottom: 10px;
}

.card-header .btn {
	font-size: 18px;
}

.card-body * {
	padding: 3px;
}

/* === FOOTER === */

#page-footer::before {
	margin-top: 2.5rem;
}

#page-footer footer {
	background-color: rgb(52, 58, 64);
	color: #fff;
	padding-top: 1rem;
}

#page-footer footer p {
	font-size: 18px;
	text-transform: uppercase;
}

/* === MEDIA QUERIES === */

@media (max-width: 1036px) {
	.typewriter h1 {
		font-size: 30px !important;
	}
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -17rem;
		overflow-y: scroll;
	}

	#sidebar.active {
		margin-left: 0;
	}

	#close-sidebar {
		display: block;
	}

	#page-header {
		display: block;
	}

	.main-wrapper {
		width: 100%;
		margin: 0;
	}

	.main-wrapper.active {
		margin-left: 17rem;
		width: calc(100% - 17rem);
	}
}

@media (max-width: 480px) {
	.typewriter h1 {
		font-size: 24px !important;
	}
}

@media (max-width: 320px) {
	.typewriter h1 {
		font-size: 20px !important;
	}
}

@media (max-width: 290px) {
	.typewriter h1 {
		font-size: 18px !important;
	}
}