@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Snippet&display=swap');

/* === GLOBAL STYLES === */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Prompt, sans-serif;
    font-size: 110%;
    background: #202731;
    color: #fff;
}

section:not(#landing) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 160px 20vw 100px 20vw;
}

section p {
    text-align: justify;
}

.heading-underline {
    width: 95px;
    height: 3px;
    background: #fff;
    margin: 0 auto 15px;
}

/* === SOME CUSTOM UTILITY CLASSES === */

.custom-primary {
    background: #001c33;
}

.custom-secondary {
    background: #202731;
}

.custom-tertiary {
    background: #dd3f31;
}

.custom-light {
    background: #ff0066;
}

.custom-dark {
    background: #0f0f10;
}

.text-large {
    font-size: 110%;
}

/* === NAVIGATION === */

nav {
    background: #3c31dd;
}

.navbar .navbar-brand {
    letter-spacing: 2px;
}

/* === WAVE EFFECT === */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin: -1px auto;
}

.wave svg {
    position: relative;
    display: block;
}

#wave-02 {
    transform: rotate(180deg);
}

#wave-01 svg {
    width: calc(141% + 1.3px);
    height: 215px;
}

#wave-02 svg {
    width: calc(100% + 1.3px);
    height: 115px;
}

.wave .shape-fill-01 {
    fill: #001c33;
}

.wave .shape-fill-02 {
    fill: #202731;
}

/* === LANDING AREA === */

#landing {
    height: 100vh;
}

#particles-js {
    width: 100%;
    height: 100%;
}

.typewriter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-shadow: 3px 3px 5px #000;
}

.typewriter h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    overflow: hidden;
    border-right: 2px solid white;
    letter-spacing: 2px;
    white-space: nowrap;
    animation: typing 3s steps(40, end), cursor-blink 1s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
@keyframes cursor-blink {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}

/* === ABOUT ME === */

.profile-img {
    height: 220px;
    border: 5px solid rgb(52, 58, 64);
}

.btn {
    background: #3c31dd;
    border-radius: 10px;
}

.btn:hover {
    background: #292396;
    transition: all 0.2s;
}

tr:first-of-type th, tr:first-of-type td {
    border: none;
}

.social ul li {
    margin: 10px 15px;
}

.social ul a {
    color: #fff;
    font-size: 130%;
}

.social ul a:hover {
    color: #555;
}

/* === MEDIA QUERIES === */

@media only screen and (max-width: 1024px) {
    section p {
        text-align: initial;
    }

    #about .btn {
        width: 80% !important;
    }
}

@media only screen and (max-width: 620px) {
    #about .btn {
        width: 100% !important;
    }
}

@media only screen and (max-width: 510px) {
    section:not(#landing) {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .typewriter h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 366px) {
    nav, section, footer {
        font-size: 80%;
    }

    .navbar .navbar-brand {
        font-size: 18px;
        letter-spacing: normal;
    }

    .typewriter h1 {
        font-size: 20px;
    }

    .profile-img {
        height: 180px;
    }
}